.wrapper {
    padding: 0 1rem 1rem 0;
    border-bottom: 1px solid rgb(var(--border));
}

.header {
    margin-bottom: 2rem;
}

.header h2 {
    font-size: 1.2rem;
    font-weight: normal;
}

.header p {
    color: rgb(var(--text-muted));
}

.field {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.field label {
    color: rgb(var(--text-muted));
}

.requiredAsterisk {
    color: rgb(var(--danger));
    margin-left: 0.25rem;
}

.field input,
.field select,
.field textarea {
    padding: 0.75rem;
    font-size: 1rem;
    border: 1px solid rgb(var(--border));
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

.field textarea {
    resize: none;
    font-family: Poppins;
}

.field input:focus,
.field select:focus,
.field textarea:focus {
    outline: none;
    border-color: rgb(var(--text));
}