:root {
  /* Colors */
  --background: 245, 245, 250;
  --foreground: 255, 255, 255;

  --primary-accent: 54, 102, 245;
  --primary-accent-hover: 11, 69, 244;

  --text: 10, 10, 10;
  --text-muted: 100, 100, 100;

  --border: 220, 220, 225;

  --danger: 220, 53, 69;
  --warning: 255, 193, 7;
  --success: 25, 135, 84;

  /* Table Colors */
  /* --table-header-bg: color-mix(in srgb, rgb(var(--border)) 60%, rgb(var(--foreground)) 40%); */
  --table-header-bg: rgb(var(--foreground));
  --table-row-light-bg: rgb(var(--foreground));
  --table-row-dark-bg: color-mix(in srgb, rgb(var(--border)) 25%, rgb(var(--foreground)) 75%);
  --table-row-hover-bg: color-mix(in srgb, rgb(var(--border)) 50%, rgb(var(--foreground)) 50%);
  --table-row-active-bg: color-mix(in srgb, rgb(var(--primary-accent)) 12%, rgb(var(--foreground)) 88%);

  /* Styles */
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  --border-radius: 8px;

  --hyperlink-color: 54, 102, 245;
}

/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Base */
body {
  font-family: Poppins;
  background: rgb(var(--background));
  color: rgb(var(--text));
  line-height: 1.5;
}

::-webkit-scrollbar {
  background: rgba(0, 0, 0, 0.15);
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0.15);
}

::selection,
::-webkit-selection {
  background: rgb(var(--primary-accent));
  color: rgb(var(--foreground));
}