.wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.wrapper label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}

.wrapper input[type="radio"] {
    appearance: none;
    width: 1rem;
    height: 1rem;
    border: 1px solid rgb(var(--border));
    border-radius: 2rem;
    display: grid;
    place-content: center;
    cursor: pointer;
    transition: background 0.15s ease-in-out;
}

.wrapper input[type="radio"]::before {
    content: "";
    width: 0.5rem;
    height: 0.5rem;
    border-radius: var(--border-radius);
    transform: scale(0);
    transition: transform 0.15s ease-in-out;
    background-color: rgb(var(--foreground));
}

.wrapper input[type="radio"]:checked::before {
    transform: scale(1);
}

.wrapper input[type="radio"]:checked {
    background: rgb(var(--primary-accent));
}

/* .wrapper input[type="radio"]:focus,
.wrapper input[type="radio"]:focus-visible {
    outline: none;
    box-shadow: none;
} */