.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}

.stat {
    border-radius: var(--border-radius);
    background: rgb(var(--foreground));
    border: 1px solid rgb(var(--border));
    box-shadow: var(--box-shadow);
    padding: 1rem;

    /* added */
    display: flex;
    align-items: center;
    gap: 1rem;
}

.stat h2 {
    font-size: 2rem;
    font-weight: 600;
}

.stat p {
    color: rgb(var(--text-muted));
}

/* heroicon */
.icon {
    width: 28px;
    height: 28px;
    color: rgb(var(--primary));
}

.iconWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: var(--border-radius);
    background: rgba(var(--primary), 0.1);
}