.container {}

.form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(var(--foreground));
    padding: 1rem;
    border: 1px solid rgb(var(--border));
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    max-width: 450px;
}

.label {
    color: rgb(var(--text-muted));
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

.textInput {
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid rgb(var(--border));
    border-radius: var(--border-radius);
    background: rgb(var(--background));
    color: rgb(var(--text));
    outline: none;
}

.textInput:focus {
    border-color: rgb(var(--primary-accent));
    box-shadow: 0 0 0 3px rgba(var(--primary-accent), 0.2);
}

.button {
    padding: 0.75rem 1rem;
    border: none;
    border-radius: var(--border-radius);
    background: rgb(var(--primary-accent));
    color: rgb(var(--foreground));
    cursor: pointer;
    width: 100%;
    font-weight: bold;
}

.button:hover {
    background: rgb(var(--primary-accent-hover));
}

.button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(var(--primary-accent), 0.4);
}