.wrapper {
    width: 100%;
    height: 140px;
    border: 2px dashed rgb(var(--border));
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: border-color 0.2s, background 0.2s;
}

.wrapper span {
    color: rgb(var(--hyperlink-color));
}

.wrapper:hover {
    border-color: #666;
    background: #f7f7f7;
}